.box-1 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.box-1 h1 {
    width: 566px;
    height: 55px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
}

.box-1 h2 {

}
